nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
    width: 100vw;
}

NavLogo {
    display: flex;
    align-content: center;
}
/* 
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    list-style-type: none;
    width: 100vw;
}

li {
    padding: 1rem;
    padding-bottom: 1rem;
} */