.topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C71585;
}

.NavLogo {
    display: flex;
    align-content: center;
}
/* 
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;
    list-style-type: none;
    width: 100vw;
}

li {
    padding: 1rem;
    padding-bottom: 1rem;
} */